/ejemplos-IDE/Ejemplo01/nbproject/private/
/ejemplos-IDE/Ejemplo02/nbproject/private/
/ejemplos-IDE/Ejemplo02/build/
/ejemplos-IDE/Ejemplo03/nbproject/private/
/ejemplos-IDE/Ejemplo04/nbproject/private/
/ejemplos-IDE/Ejemplo04/build/
/ejemplos-IDE/Ejemplo05/nbproject/private/
/ejemplos-IDE/Ejemplo05/build/
/ejemplos-IDE/Ejemplo06/nbproject/private/
/ejemplos-IDE/Ejemplo06/build/
/ejemplos-IDE/Ejemplo07/nbproject/private/
/ejemplos-IDE/Ejemplo07/build/